body {
    
    background-color: white;
    font-family: 'Montserrat';
    
}
.heading{
    font-size: 45px;
    text-align: center;
    margin-top: 4%;
}
.img{
    display: flex;
}
.rounded-circle{
    margin-left: 20px;
}
.namebox{
    text-align: center;
}
.nameboxD{
    margin-left: 313px;
    display: inline-flex;
    text-align: center;
    margin-bottom: 4%;
}
.name{
    margin-left: 25px;
    font-size: 14px;
}
.nameD{
    margin-left: 45px;
    font-size: 10px;
}