body {
    
    background-color: white;
    font-family: 'Montserrat';
    
}


.heading{
    margin-top: 60px;
    margin-bottom: 30px;
    font-weight: 700px;
    text-align: center;
}
.left{
    margin-left: 270px;
}
.right{
    margin-left: 250px;
}