.textsytle {
    margin-top: 4%;
}

p{
    text-align: center;
}
.BoxArea {
    width: 92%;
    height: 260px;
    display: inline-flex;
    margin: 4%;

  }

  .imgsize{
    box-shadow: 1px 1px 8px 0px black;
    width: 260px;
    height: 180px;
    margin-left: auto;
    margin-right: auto;
  }
  .img__wrap {
    position:relative;
    height: 190px;
    width: 260px;
    margin-left: auto;
    margin-right: auto;
  }
  .img__description {
    position: absolute;
    margin-top: 60%;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(61, 63, 63, 0.73);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    font-size: 20px;
  
    /* transition effect. not necessary */
    transition: opacity .2s, visibility .2s;
  }
  .img__wrap:hover .img__description {
    visibility: visible;
    opacity: 1;
  }
 