body {
    background-color: aliceblue;
    font-family: 'Montserrat';
}


.imgg{
    position: absolute;
    margin-left: 7.5%;
    margin-top: 31px;
    z-index:5;
}
.boxDesc{
    position: absolute;
    margin-top:120px;
}

.box  {
    margin-top: 4%;
}
