.bg-modal {
  width :100%;
  height : 100%;
  background-color: rgba(0,0,0,0.7);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  width: 400px;
  height: 530px;
  background-color: white;
  opacity: 1;
  border-radius: 4px;
  text-align: center;
  padding: 30px;
  padding-top: 80px;
  position: relative;
}

.save_button {
  min-width: 90%;
  max-width: 90%;
  height: 50px;
  background-color: gray;
  color: white;
}

.save_button1{
  min-width: 90%;
  max-width: 90%;
  background-color: royalblue;
  color: white;
  padding-bottom: 6px;
  height: 50px;
}

.line {
  padding-bottom: 20px;
}

.lastname{
  width:40%;
  display: inline-block;
  margin: 0px 0px 0px 10px;
}

.firstname{
  width:40%;
  display: inline-block;
  margin: 0px 10px 0px 0px;
}

.input {
    margin: 10px auto;
    height: 50px;
    display: block;
    width: 90%;
    padding: 8px;
    border: 1px solid gray;
}

.close {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 42px;
    color: #333;
    transform: rotate(45deg);
    cursor: pointer;
}

.gbold{
  font-family: 'Montserrat';
  font-weight: 700;
}