.vl {
    border-left: 2px solid white;
    height: 28px;
  }
  .Footer{
    background-color: gray;
    color: white;
    display: inline-flex;
    padding: 12px 12px 12px 12px;
    width: 100%;
    padding-left: 5%;
    padding-top: 1%;
    padding-bottom: 0%;
  }
  .icon{
    margin-left: 35%;
    display: inline-flex;
    padding-top: 10px;
    
  }
  .icons {
    padding-left: 30px;
  }

  .lightdev {
    font-weight: 300px;
    text-align: center;
  }