.fstyle {
  font-family:'Montserrat';font-size: 22px;
  position: absolute;
  top:40%;
  font-size: larger;
}

.lightstyle {
    font-family:'Montserrat Light';
}

.sectiontext {
    text-align: center;
    padding-top: 2%;
}

.gbold{
    font-family: 'Montserrat';
    font-weight: 700;
}